<!-- PART 2 HERE ****************
  So here we go, after receveing the data,
i nedeed the id so can pass it into typescript
for send it in the service and make the API call
so we can receive the id and use it for
execute routing for our user -->

<div *ngIf="!isProfile; else profiloContatto">
  <h1>User</h1>

  <div *ngFor="let user of userSignUp">
    <!-- HOW I DO GET THE ID?
    already have it, so all we have to do is
    take and pass it in to the address bar
    and then use it to make API call   -->
    <a routerLink="/user/{{ user.id }}"
      ><p>{{ user.name }}</p></a
    >
  </div>
</div>

<ng-template #profiloContatto>
  <div *ngIf="userDetail">
    <p>Profilo di {{ userDetail.name }}</p>
    <p>{{ userDetail.email }}</p>
    <p>{{ userDetail.gender }}</p>
    <p>{{ userDetail.status }}</p>
    <p>{{ userDetail.id }}</p>
    <button (click)="deleteUser(userDetail.id)">DELETE USER</button>
  </div>
</ng-template>
